/*HINT: set the order property to reorder the card when the items wrap (picture will be above text on mobile)*/

main {
  margin-top: 13vh;
  flex-flow: row wrap;
}

main > #summary {
  font-size: 2.8vmin;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8% 5% 8% 0;
  flex: 2.2;
  min-width: 55vmin;
}

#summary::first-line {
  font-size: 4vmin;
}

#image-me {
  min-width: 26.5vmin;
  width: 45vmin;
}

main > #card {
  flex: 1;
  text-align: center;
}

#home-title {
  color: #007070;
  margin-top: 0;
  margin-bottom: 5%;
  font-size: 6vmin;
  white-space: nowrap;
}

