/*HINT: set the order property to reorder the card when the items wrap (picture will be above text on mobile)*/

main {
  margin-top: 13vh;
  flex-flow: row wrap;
}

main > #summary {
  font-size: 1.15rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 4% 5% 6% 0;
  flex: 2.2;
  min-width: 54vmin;
}

h2 {
  font-size: 1.7rem;
  text-indent: 0.5vw;
}

.summary-p {
  text-indent: 1.8vw;
}

#image-me {
  min-width: 15rem;
  width: 44vmin;
}

main > #card {
  flex: 1;
  text-align: center;
  margin-top: 2%;
}

h1 {
  color: #007070;
  margin-top: 0;
  margin-bottom: 5%;
  font-size: 2.1rem;
  white-space: nowrap;
}

