body {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
}

.clean-list {
  list-style-type: none;
}

.clean-link {
  text-decoration: none;
  color: black;
}

nav {
  margin-top: 13vh;
  margin-right: 2vw;
}

#nav-menu, #personal-page-list {
  padding: 0;
  width: 25vmin;
}

.nav-menu-option {
  display: block;
  border-radius: 2px;
  padding: 4.5% 3%;
}

.nav-menu-option:hover {
  background-color: #007070;
  color: #F9F7D9;
  opacity: 0.5;
}

#nav-menu-current-selection {
  background-color: #007070;
  color: #F9F7D9;
}

#personal-page-list {
  vertical-align: bottom;
}

#personal-page-list > :first-child {
  border-top: 2px solid grey;
  padding-top: 2%;
}

.personal-page {
  padding: 0.6% 3%;
}

.personal-page > .page-icon {
  vertical-align: middle;
}

.personal-page > .page-text {
  vertical-align: middle;
}
