main {
  margin-top: 3vh;
  flex-flow: column;
}

#button-change-user {
    margin-top: 1%;
    float: right;
}

#test-heading {
  text-align: center;
  font-family: arial, verdana, sans-serif;
  font-style: italic;
  font-size: 3.5vw;
  clear: both; //prevents nearby elements from floating
}

#test-central-image {
  display: block;
  margin: auto;
  width: 27vw;
  height: 20vw;
}

#test-main-text {
  flex: 40%;
}

.scale-list, .custom-p {
  line-height: 3vh;
  font-size: 2vh;
}

