#test-main-text {
  flex: 50%;
}

.custom-p {
  line-height: 1.3;
  font-size: 120%;
}

#test-heading {
  text-align: center;
  font-family: arial, verdana, sans-serif;
  font-style: italic;
  font-size: 250%;
  clear: both; //prevents nearby elements from floating
}

#test-central-image {
  display: block;
  margin: auto;
  width: 25%;
  height: 25%;
}

#button-change-user {
    margin-top: 1%;
    float: right;
}
